# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
/cleaned/
/unprocessed/
/BrainMRIData.zip/
/vgg16_mri_4class.pth/

# Python environments
.env
venv/
*.pth
